@media (max-width: 1024px) {
	.footer-content {
		display: flex;
		flex-direction: column;
	}

	.footer-left-block {
		width: 100%;
		border-right: none;
		padding: 30px 0;
	}

	.footer-right-block {
		justify-content: center;
		padding: 30px 0;
	}
}

@media (max-width: 768px) {
	.footer-bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-sub-text span {
		display: none;
	}
}

@media (max-width: 568px) {
	.footer-right-block {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 48px;
	}
}

@media (max-width: 470px) {
	.footer-right-block {
		gap: 24px;
	}

	.footer-link {
		flex-direction: column;
		align-items: center;
	}

	.footer-link-text {
		display: none;
	}
}